{% extends 'base-template.html' %}

{% block content %}
<div class="wrapper">
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <!-- <h2><a href="{{ article.slug }}">{{ article.title }}</a></h2> -->
                <h2><a href="{% url 'articles:detail' slug=article.id %}">{{ article.title }}</a></h2>
                <p>{{ article.body }}</p>
                <p>{{ article.date }}</p>
                <p class="author">added by {{ article.author }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
